<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.patrickgold.florisboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- IME service -->
        <service
            android:name=".ime.core.FlorisBoard"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/KeyboardTheme.MaterialLight">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <!-- Settings Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.SettingsMainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/settings__title"
            android:launchMode="singleTask"
            android:theme="@style/SettingsTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Using an activity alias to disable/enable the app icon in the launcher -->
        <activity-alias
            android:name="dev.patrickgold.florisboard.settings.LauncherAlias"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:targetActivity="dev.patrickgold.florisboard.settings.SettingsMainActivity"
            android:enabled="false"
            android:theme="@style/SettingsTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- About Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.AboutActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/about__title"
            android:theme="@style/SettingsTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
