name: FlorisBoard CI

on:
  push:
    branches: [ master ]
    paths-ignore:
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/FUNDING.yml"
      - ".editorconfig"
      - "fastlane/**"
      - "CONTRIBUTING.md"
      - "LICENSE"
      - "README.md"
      - "ROADMAP.md"
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Setup CMake and Ninja
        uses: lukka/get-cmake@v3.20.1
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build with Gradle
        # MUST call gradlew separately because of an OSS license plugin issue.
        # See https://github.com/google/play-services-plugins/issues/199
        run: ./gradlew clean && ./gradlew assembleDebug
      - uses: actions/upload-artifact@v2
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
